@page
@model EMGAS.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Connexion";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.ReturnUrl))
            {
                <div class="alert alert-info mb-4">
                    <i class="bi bi-info-circle-fill me-2"></i> Vous devez vous connecter pour accéder à cette page.
                </div>
            }
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nom@exemple.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label">Mot de passe</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="mot de passe" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3 form-check">
                            <input asp-for="Input.RememberMe" class="form-check-input" />
                            <label asp-for="Input.RememberMe" class="form-check-label">
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        
                        <div class="d-grid">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-lg">
                                <i class="bi bi-box-arrow-in-right"></i> Se connecter
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div>
                        <p>Besoin d'un compte? Contactez l'administrateur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 